body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background: #191d28;
    text-align: left;
    position: relative;
}


h1 {
    text-align: center;
    color: aqua;
}

button {
    color: rgb(192, 191, 193);
    background: rgb(127, 107, 107)
}

.buttonCls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ticker-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemDev{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}